openapi: 3.0.3
info:
  title: SecureMemo API - Confirm Delete
  version: "1.0.0"
  description: |
    Schema for POST /api/confirm-delete on Cloudflare Workers.
servers:
  - url: https://securememo.app
paths:
  /api/confirm-delete:
    post:
      summary: Delete a memo after successful decryption
      description: |
        Deletes the memo if the provided `memoId` and `deletionToken` are valid and match the stored deletion token hash.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [memoId, deletionToken]
              properties:
                memoId:
                  type: string
                  pattern: ^([A-Za-z0-9_-]{32}|[A-Za-z0-9_-]{40})$
                deletionToken:
                  type: string
                  minLength: 32
                  maxLength: 64
                  pattern: ^[A-Za-z0-9]+$
      responses:
        "200":
          description: Memo deleted
          content:
            application/json:
              schema:
                type: object
                required: [success, message]
                properties:
                  success:
                    type: boolean
                    enum: [true]
                  message:
                    type: string
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not found or access denied (generic)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "413":
          description: Payload too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string


