openapi: 3.0.3
info:
  title: SecureMemo API - Create Memo
  version: "1.0.0"
  description: |
    Schema for POST /api/create-memo on Cloudflare Workers.
    Validates request body and documents responses.
servers:
  - url: https://securememo.app
paths:
  /api/create-memo:
    post:
      summary: Create a new memo
      description: |
        Creates a memo with an encrypted message and a server-calculated expiry time. Requires Cloudflare Turnstile token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - encryptedMessage
                - expiryHours
                - cfTurnstileResponse
                - deletionTokenHash
              properties:
                encryptedMessage:
                  type: string
                  minLength: 1
                  maxLength: 50000
                  description: Encrypted payload to store. Max 50KB.
                expiryHours:
                  oneOf:
                    - type: integer
                      enum: [8, 24, 48, 168, 720]
                    - type: string
                      enum: ["8", "24", "48", "168", "720"]
                  description: Expiry in hours. Allowed values are 8, 24, 48, 168, 720.
                cfTurnstileResponse:
                  type: string
                  pattern: ^[A-Za-z0-9._-]{10,}$
                  description: Cloudflare Turnstile response token.
                deletionTokenHash:
                  type: string
                  pattern: ^[A-Za-z0-9+/=]{44}$
                  description: Base64-encoded SHA-256 hash of deletion token (44 chars).
      responses:
        "200":
          description: Memo created
          content:
            application/json:
              schema:
                type: object
                required: [success, memoId]
                properties:
                  success:
                    type: boolean
                    enum: [true]
                  memoId:
                    type: string
                    pattern: ^([A-Za-z0-9_-]{32}|[A-Za-z0-9_-]{40})$
        "400":
          description: Bad request (validation error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "413":
          description: Payload too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Localized error message key or text


